body{
    font-family:sans-serif;
    color: var(--primary-text-colour);
}
 a{
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    

}
.main-nav{
  margin-top: 10px;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 500;
}
.navbar{
 margin-left: 800px;
}
.link{
  color:#183b56;
}
.link:hover{
  color:rgb(47, 157, 47);
}

form{
  width: 40%;
  height: 90%;
  margin-top: 50px;
  margin-left: 400px;
  background-color: rgb(177, 178, 179);
  border: 3px solid rgb(13, 13, 13);
}
form h1{
  text-align: center;
}
label{
  margin: 15px;
  margin-left: 30px;
  font-size: 17px;
  font-family:sans-serif;
  font-weight: 600;
}
::placeholder{
  font-size: 15px;
  font-weight: 600;
}
input{
  display:block;
  padding: 5px;
  width: 70%;
  margin: 10px;
  margin-left: 30px;
  background: transparent;
  box-shadow:  2px 2px 2px 2px rgb(27, 23, 23);
  border-bottom: 2px solid rgb(104, 75, 100);
}
button{
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 35%;
  padding: 5px;
  width: 90px;
  border: 1px solid darkgreen;
  background-color: green;
  font-size: 20px;
  border-radius: 3px ;
  box-shadow: 2px 2px 2px 2px gray;
}
button:hover{
  background-color: darkgrey;
  border: 2px solid black;
}